In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv('World Football Results 2018 to 2022 - data.csv')

In [ ]:
data.info()

In [3]:
data = data.dropna(axis=1)

In [5]:
data.isnull().sum()

year          0
date          0
tournament    0
h_team        0
a_team        0
h_elo         0
a_elo         0
h_score       0
a_score       0
location      0
neutral       0
dtype: int64

In [7]:
singapore = data[(data['a_team'] == 'Singapore') | (data['h_team'] == 'Singapore')]

In [10]:
singapore['tournament'].value_counts()

Friendly                             11
World Cup and Asian Cup qualifier     7
Friendly tournament                   6
Southeast Asian Championship          5
Asian Cup qualifier                   4
Name: tournament, dtype: int64

In [11]:
data[data['a_team'].str.contains('sing', case=False)]['a_team'].value_counts()

Singapore    16
Name: a_team, dtype: int64

In [12]:
data[data['h_team'].str.contains('sing', case=False)]['h_team'].value_counts()

Singapore    17
Name: h_team, dtype: int64

In [15]:
singapore.tail(10)

,year,date,tournament,h_team,a_team,h_elo,a_elo,h_score,a_score,location,neutral
3316,2022,March 26,Friendly tournament,Singapore,Malaysia,1098,1166,2,1,in Singapore,No
3363,2022,March 29,Friendly tournament,Singapore,Philippines,1112,1108,2,0,in Singapore,No
3448,2022,June 1,Friendly,Kuwait,Singapore,1342,1128,2,0,in the United Arab Emirates,Yes
3582,2022,June 8,Asian Cup qualifier,Kyrgyzstan,Singapore,1257,1121,2,1,in Kyrgyzstan,No
3643,2022,June 11,Asian Cup qualifier,Tajikistan,Singapore,1289,1113,1,0,in Kyrgyzstan,Yes
3703,2022,June 14,Asian Cup qualifier,Singapore,Myanmar,1102,949,6,2,in Kyrgyzstan,Yes
3767,2022,September 21,Friendly tournament,Vietnam,Singapore,1374,1124,4,0,in Vietnam,No
3828,2022,September 24,Friendly tournament,India,Singapore,1232,1117,1,1,in Vietnam,Yes
4082,2022,December 17,Friendly,Singapore,Maldives,1122,932,3,1,in Singapore,No
4092,2022,December 24,Southeast Asian Championship,Singapore,Myanmar,1127,918,3,2,in Singapore,No

In [16]:
def winner(h_team, a_team, h_score, a_score):
    if h_score > a_score:
        return h_team
    elif h_score == a_score:
        return 'Draw'
    else:
        return a_team

In [17]:
singapore['winner'] = singapore.apply(lambda x: winner(x['h_team'], x['a_team'], x['h_score'], x['a_score']), axis=1)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_23944\3943953382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singapore['winner'] = singapore.apply(lambda x: winner(x['h_team'], x['a_team'], x['h_score'], x['a_score']), axis=1)

In [22]:
len(singapore[singapore['winner'] == 'Singapore'])

14

In [35]:
goals_away = singapore[singapore['a_team']=='Singapore']['a_score'].sum()
goals_home = singapore[singapore['h_team']=='Singapore']['h_score'].sum()
total_goals = goals_home + goals_away
total_goals

48