In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv('World Football Results 2018 to 2022 - data.csv')

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        4096 non-null   int64
 1   date        4096 non-null   object
 2   tournament  4096 non-null   object
 3   h_team      4096 non-null   object
 4   a_team      4096 non-null   object
 5   h_elo       4096 non-null   int64
 6   a_elo       4096 non-null   int64
 7   h_score     4096 non-null   int64
 8   a_score     4096 non-null   int64
 9   location    4096 non-null   object
 10  neutral     4096 non-null   object
dtypes: int64(5), object(6)
memory usage: 352.1+ KB

In [3]:
data = data.dropna(axis=1)

In [ ]:
data.isnull().sum()

In [5]:
vietnam = data[(data['a_team'] == 'Vietnam') | (data['h_team'] == 'Vietnam')]

In [ ]:
vietnam

In [7]:
vietnam.count()

year          38
date          38
tournament    38
h_team        38
a_team        38
h_elo         38
a_elo         38
h_score       38
a_score       38
location      38
neutral       38
dtype: int64

In [29]:
vietnam['tournament'].value_counts()

Southeast Asian Championship         9
World Cup qualifier                  8
World Cup and Asian Cup qualifier    6
Friendly                             5
Asian Cup                            5
King's Cup                           2
Friendly tournament                  2
Asian Cup qualifier                  1
Name: tournament, dtype: int64

Count number of matches that Vietnam vs Singapore

In [8]:
vietnam[(vietnam['a_team']=='Vietnam') & (vietnam['h_team']=='Singapore')]

Empty DataFrame
Columns: [year, date, tournament, h_team, a_team, h_elo, a_elo, h_score, a_score, location, neutral]
Index: []

In [9]:
vietnam[(vietnam['a_team']=='Singapore') & (vietnam['h_team']=='Vietnam')]

,year,date,tournament,h_team,a_team,h_elo,a_elo,h_score,a_score,location,neutral
3767,2022,September 21,Friendly tournament,Vietnam,Singapore,1374,1124,4,0,in Vietnam,No

There is only 1 match that Vietnam versuses Singapore, and Vietnam win

In [32]:
vietnam_aff = vietnam[vietnam['tournament'] == 'Southeast Asian Championship']

In [11]:
vietnam_aff

,year,date,tournament,h_team,a_team,h_elo,a_elo,h_score,a_score,location,neutral
709,2018,November 8,Southeast Asian Championship,Laos,Vietnam,730,1285,0,3,in Laos,No
764,2018,November 16,Southeast Asian Championship,Vietnam,Malaysia,1290,1084,2,0,in Vietnam,No
847,2018,November 20,Southeast Asian Championship,Myanmar,Vietnam,1076,1299,0,0,in Myanmar,No
863,2018,November 24,Southeast Asian Championship,Vietnam,Cambodia,1292,794,3,0,in Vietnam,No
867,2018,December 2,Southeast Asian Championship,Philippines,Vietnam,1210,1294,1,2,in the Philippines,No
869,2018,December 6,Southeast Asian Championship,Vietnam,Philippines,1315,1189,2,1,in Vietnam,No
870,2018,December 11,Southeast Asian Championship,Malaysia,Vietnam,1128,1324,2,2,in Malaysia,No
872,2018,December 15,Southeast Asian Championship,Vietnam,Malaysia,1319,1133,1,0,in Vietnam,No
4088,2022,December 21,Southeast Asian Championship,Laos,Vietnam,653,1393,0,6,in Laos,No

In [12]:
def winner(h_team, a_team, h_score, a_score):
    if h_score > a_score:
        return h_team
    elif h_score == a_score:
        return 'Draw'
    else:
        return a_team

In [ ]:
vietnam['winner'] = vietnam.apply(lambda x: winner(x['h_team'], x['a_team'], x['h_score'], x['a_score']), axis=1)

Check 10 latest match

In [19]:
viet_latest10 = vietnam.tail(10)

In [22]:
viet_latest10

,year,date,tournament,h_team,a_team,h_elo,a_elo,h_score,a_score,location,neutral,winner
3073,2021,October 12,World Cup qualifier,Oman,Vietnam,1505,1385,3,1,in Oman,No,Oman
3184,2022,January 27,World Cup qualifier,Australia,Vietnam,1733,1338,4,0,in Australia,No,Australia
3215,2022,February 1,World Cup qualifier,Vietnam,China,1334,1496,3,1,in Vietnam,No,Vietnam
3270,2022,March 24,World Cup qualifier,Vietnam,Oman,1369,1521,0,1,in Vietnam,No,Oman
3394,2022,March 29,World Cup qualifier,Japan,Vietnam,1814,1352,1,1,in Japan,No,Draw
3443,2022,June 1,Friendly,Vietnam,Afghanistan,1370,1142,2,0,in Vietnam,No,Vietnam
3767,2022,September 21,Friendly tournament,Vietnam,Singapore,1374,1124,4,0,in Vietnam,No,Vietnam
3869,2022,September 27,Friendly tournament,Vietnam,India,1381,1227,3,0,in Vietnam,No,Vietnam
4078,2022,December 14,Friendly,Vietnam,Philippines,1391,1095,1,0,in Vietnam,No,Vietnam
4088,2022,December 21,Southeast Asian Championship,Laos,Vietnam,653,1393,0,6,in Laos,No,Vietnam

In [23]:
viet_latest10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 3073 to 4088
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        10 non-null     int64
 1   date        10 non-null     object
 2   tournament  10 non-null     object
 3   h_team      10 non-null     object
 4   a_team      10 non-null     object
 5   h_elo       10 non-null     int64
 6   a_elo       10 non-null     int64
 7   h_score     10 non-null     int64
 8   a_score     10 non-null     int64
 9   location    10 non-null     object
 10  neutral     10 non-null     object
 11  winner      10 non-null     object
dtypes: int64(5), object(7)
memory usage: 1.3+ KB

In [25]:
viet_latest10[viet_latest10['winner']=='Vietnam']

,year,date,tournament,h_team,a_team,h_elo,a_elo,h_score,a_score,location,neutral,winner
3215,2022,February 1,World Cup qualifier,Vietnam,China,1334,1496,3,1,in Vietnam,No,Vietnam
3443,2022,June 1,Friendly,Vietnam,Afghanistan,1370,1142,2,0,in Vietnam,No,Vietnam
3767,2022,September 21,Friendly tournament,Vietnam,Singapore,1374,1124,4,0,in Vietnam,No,Vietnam
3869,2022,September 27,Friendly tournament,Vietnam,India,1381,1227,3,0,in Vietnam,No,Vietnam
4078,2022,December 14,Friendly,Vietnam,Philippines,1391,1095,1,0,in Vietnam,No,Vietnam
4088,2022,December 21,Southeast Asian Championship,Laos,Vietnam,653,1393,0,6,in Laos,No,Vietnam

In [27]:
(viet_latest10['winner']=='Vietnam').sum()

6

Vietnam wins 6/10 matches recently.

In [28]:
goals_away = viet_latest10[viet_latest10['a_team']=='Vietnam']['a_score'].sum()
goals_home = viet_latest10[viet_latest10['h_team']=='Vietnam']['h_score'].sum()
total_goals = goals_home + goals_away
total_goals

21

Vietnam scored 21 goals during 10 matches.

In [30]:
conceded_away = viet_latest10[viet_latest10['a_team']=='Vietnam']['h_score'].sum()
conceded_home = viet_latest10[viet_latest10['h_team']=='Vietnam']['a_score'].sum()
total_conceded = conceded_home + conceded_away
total_conceded

10


Conceded 10 goals during 10 matches.